{% load static %}
<!DOCTYPE html>
<html>
  {% block styles %}
    <link rel="stylesheet" href="{% static 'Css/main.css' %}">
  {% endblock %}
  {% block scripts %}
    <script src="{% static 'Js/main.js' %}" type="text/javascript" charset="utf-8"></script>
  {% endblock %}
<body>
{% block content %}
  <h1>{{test}}</h1>
  <h1>{{title}}</h1>
  <img src="https://image.tmdb.org/t/p/w500/{{poster}}" alt="">
  <p>{{trailer}}</p>
  <a href="https://www.youtube.com/watch?v={{trailer}}">Youtube trailer</a>

  <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
  <!-- <div id="player"></div> -->
  <iframe id="player" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/{{trailer}}" frameborder="0">
  </iframe>
{% endblock %}
</body>

</html>
