{% extends 'base.html' %}
{% block content %}
<div class="contain">

 <div class="row">
   <div class="row__inner">
     <h3>Popular</h3>
     {% include 'snippets.html' with category=popular %}

   </div>
 </div>
 <div class="row">
   <div class="row__inner">
     <h3>Upcoming</h3>
     {% include 'snippets.html' with category=upcoming %}

   </div>
 </div>
 <div class="row">
   <div class="row__inner">
     <h3>Upcoming</h3>
     {% include 'snippets.html' with category=now_playing %}

   </div>
 </div>

</div>
{% endblock %}
